<div class="preview">
    <div class="data">
        <div class="level {{sehAlert.level}}">{{ sehAlert.level }}</div>
        
        <div class="block">
            <div class="label">Trauma</div>
            <div class="value">{{ sehAlert.trauma }}</div>
        </div>

        <div class="block">
            <div class="label">Patiëntnaam</div>
            <div class="value">{{ sehAlert.patientName }}</div>
        </div>

        <div class="block">
            <div class="label">Geb. datum</div>
            <div class="value">{{ sehAlert.birthDate }}</div>
        </div>

        <div class="block">
            <div class="label">GCS</div>
            <div class="value">{{ sehAlert.gcs }}</div>
        </div>

        <div class="block">
            <div class="label">Geslacht</div>
            <div class="value">{{ sehAlert.gender }}</div>
        </div>
    </div>
</div>