.preview {
    background-color: lightcyan;
    float: left;
    width: 600px;
    border-style: solid;
    border-color:lightpink;
    border-width: 1px;
}

.level {
    color: white;
    width: 80px;
    height: 80px;
    font-size: 38px;
    text-align: center;
    line-height: 80px;
    float: left;
}

.block {
    margin-top: 5px;
    margin-left: 5px;
    width: 15%;
    float: left;
}

.label {
    color: gray;
    font-size: 12px;
    margin-bottom: 5px;
}

.value {
    color: black;
    font-size: 12px;
}

.A1 {
    background-color: red;
}
.A2 {
    background-color: orange;
}
.B1 {
    background-color: blue;
}
.B2 {
    background-color: lightblue;
}
.H {
    background-color: green;
}
.T {
    background-color: gray;
}
